<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="verify-v1" content="e+easLfwnIZ88FY97u1VGgJKvc+p3lXqknL/YNQgDpU=" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Matt Scilipoti" />
   <link rel="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" type="text/html;charset=utf-8"/>
   <link href="http://feeds.feedburner.com/mattscilipoti" rel="alternate" title="Matt Scilipoti" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

  <script src="http://www.google.com/jsapi"></script>
  <script>
    // from henrik.github.com
    google.load("jquery", "1");
    google.setOnLoadCallback(function() {
      
       getRepos('mattscilipoti', function(repos) {
        if (!repos.length) return;

        $('#repos').replaceWith('<dl id="repos"></dl>');
        repos.each(function() {
          var escapedDesc = $('<div/>').text(this.description).html();
          $('#repos').append(
            '<dt><a href="'+this.url+'">'+this.name+'</a> ('+this.watchers+')</dt>'+
            '<dd>'+escapedDesc+'</dd>'
          );
        });
      });

      function getRepos(username, callback) {
        $.getJSON('http://github.com/api/v1/json/'+username+'?callback=?', function(data) {
          var repos = data.user.repositories;
          repos = $.grep(repos, function(r) { return !r.fork });
          repos.sort(function(a, b) { return b.watchers - a.watchers });
          repos = $(repos);
          callback(repos);
        });
      }
    });
    
  </script>
  
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Matt Scilipoti</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Matt Scilipoti<br />
        Founder of <a href="http://possiamo.com/">Possiamo Consulting LLC</a><br />
        matts@possiamo.com
<a href='http://www.catb.org/hacker-emblem/'>
  <img id='hacker_badqe' class='badge' src='http://www.catb.org/hacker-emblem/glider.png' alt='hacker emblem' /></a>

      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mattscilipoti/">github.com/mojombo</a><br />
        <a href="http://identi.ca/mattscilipoti/">identi.ca/mattscilipoti</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/mattscilipoti">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/mattscilipoti"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>


</body>
</html>

